@model Book;

<div class="booking-container mt-5">
    <h2>Book a Mobile Car Wash</h2>
    @using (Html.BeginForm())
    {
        <div class="mb-3">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name", required = "required" })
        </div>
        <div class="mb-3">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", required = "required" })
        </div>
        <div class="mb-3">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone Number", required = "required" })
        </div>
        <div class="mb-3">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Location", required = "required" })
        </div>
        <div class="mb-3">
            <div class="position-relative">
                @Html.DropDownListFor(m => m.WashType, new SelectList(new[] {
            new { Value = "basic", Text = "Basic Wash" },
            new { Value = "deluxe", Text = "Deluxe Wash" },
            new { Value = "premium", Text = "Premium Wash" }
            }, "Value", "Text"), "Select a car wash type", new { @class = "form-select", required = "required" })
            </div>
        </div>
        <div class="mb-3">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 3, placeholder = "Additional Description" })
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Date, new { @class = "form-control date-picker", type = "date", min = DateTime.Today.ToString("yyyy-MM-dd"), required = "required" })
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-book-now btn-primary">Book Now</button>
        </div>
    }
</div>

<!-- Include SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

<!-- Include Bootstrap Icons CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<!-- Include Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>



